/*styles for the right side of the content*/

.category{
    border: 2px solid black;
    border-radius: 5px;
}

.category ul{
    list-style-type: none;
    margin-right: 7px;
    padding-left:4px;

}
.category ul li{
    background: black;
    margin:5px;
    color:white;
    padding: 6px;
}

.category a{
    text-decoration: none;
    color:darkgrey;
}

.category ul li a:hover{
    color:white;
}

/*styles for the product card*/

.product-thumb-img{
    position: relative;
}

.quickView-title{
    font-size: 12px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color:white;
    transition: .5s ease;
    padding:10px;
    border: 1px solid white;
    border-radius: 50px;
    opacity: 0;
    cursor: pointer;
}

.product-thumb-img:hover .quickView-title{
    opacity: 1;
}

.product-thumb-title{
    width: 100%;
    padding: 10px;
    height: auto;
    font-weight:normal;
}
.product-thumb-title h3 a{
    margin: 0;
    padding-bottom: 5px;

}

.product-thumb-title h3 span{
    color: gray;
    font-size: small;
}

.thum-title{
    text-decoration: none;
    color:black;
}
.thum-title:hover{
    text-decoration: underline;
    color:black;
    cursor: pointer;
}

.detail-price{
    font-size: 13px;
    color:red;

}
.det-price {
    text-decoration: none;
    color:red;
}
.det-price:hover{
    text-decoration: underline;
    color:red;
}
/*style for popup*/
.product .popup-view{
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    padding:5px 5px;
}

.product .popup-view.active{
    opacity: 1;
    visibility: visible;
}
.product .popup-card{
    position: relative;
    display: flex;
    width: 750px;
    height: auto;
    margin: 20px;
    background: white;
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);;
}
/*.product .popup-card .product-img{*/
/*    width: 50%;*/
/*    height: auto;*/
/*    float: left;*/
/*    display: inline-block;*/
/*    padding-left: 15px;*/
/*}*/

/*.product .popup-card .product-img img{*/
/*    width: 100%;*/
/*    border: 1px solid black;*/
/*    position: relative;*/
/*    top: 50%;*/
/*    transform: translate(0, -50%);*/
/*}*/
.product .popup-card .product-img img{
    margin-left: 10px;
    margin-top: 15px;
    width: 230px;
    border: 1px solid black;
}
.product .popup-card .info{
    z-index: 2;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.product .popup-card .close-btn{
    color: #555;
    z-index: 3;
    position: absolute;
    right: 0;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.product .popup-card .info h2{
    font-size: 40px;

}

.product .popup-card .info p{
    font-size: 15px;

}

.product .popup-card .info .price{
    font-size: 20px;
    font-weight: 300;
}

.product .popup-card .info .goToProduct-btn{
    color: #fff;
    background: red;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width:200px;
    padding: 5px 10px;
    border-radius: 20px;
}

/*responsive styles*/

@media screen and  (max-width:850px ){
    .product .popup-card{
        width: 600px;
        height: auto;

    }

    .product .popup-card .product-img{
        z-index: 3;
        width: 100%;

    }

    .product .popup-card .product-img img{
        max-width: 100%;

    }

}


@media screen and  (max-width:650px ){

    .product .popup-card .product-img{
        display: none;
    }


}

@media screen and  (min-width:850px ){

    .product .popup-card{
        height: 260px;
    }


}
